:root {
  --black: #000000;
  --white: #fff;
  --size-sm: 10px;
  --size-md: 15px;
  --size-lg: 20px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --radius-circle: 50%;
  --blue: #5580ff;
  --size-spm: 7px;
}

.main--nav {
  height: 80px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 30px;
}

.main--nav .logo--fs {
  width: 150px;
  height: 46px;
}

.main--nav .logo--fs img {
  width: 100%;
  height: auto;
}

.navigation--items {
  padding-right: 30px;
}

.navigation--items li {
  padding: 10px 0 10px var(--size-md);
  margin: 0 var(--size-sm);
  position: relative;
}

.navigation--items li::before {
  content: "";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-20%) translateX(20%);
          transform: translateY(-20%) translateX(20%);
  width: var(--size-spm);
  height: var(--size-spm);
  background: var(--blue);
  position: absolute;
  border-radius: var(--radius-circle);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
}

.navigation--items li::after {
  content: "";
}

.navigation--items li:hover::before {
  opacity: 1;
  -webkit-transform: translateY(-50%) translateX(0%);
          transform: translateY(-50%) translateX(0%);
}

.navigation--items a {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: var(--fs-sm);
}

.search {
  margin: 0 !important;
}

.hamburger--main {
  display: none !important;
}

.hamburger--nav, .search {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: var(--size-md);
}

.hamburger--nav div, .search div {
  width: 20px;
  height: 2px;
  margin-bottom: 3px;
  background: var(--black);
}

@media screen and (max-width: 991px) {
  .hamburger--main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    z-index: 3;
  }
  .hamburger--content {
    display: none !important;
  }
  .hamburger--nav {
    margin: 0;
  }
  .navigation--items {
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    width: 100%;
    background: var(--white);
    -webkit-transition: -webkit-transform .75s ease;
    transition: -webkit-transform .75s ease;
    transition: transform .75s ease;
    transition: transform .75s ease, -webkit-transform .75s ease;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    pointer-events: none;
  }
  .back--items {
    pointer-events: visible;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .main--nav {
    padding: 0 20px;
  }
}

@media screen and (max-width: 576px) {
  .main--nav .logo--fs {
    width: 110px;
  }
}
/*# sourceMappingURL=navigation.css.map */