:root{
    --black: #000000;
    --white: #fff;
    --size-sm: 10px;
    --size-md: 15px;
    --size-lg: 20px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --radius-circle: 50%;
    --blue: #5580ff;
    --size-spm: 7px;
}